snippet jss "JSON.stringify"
JSON.stringify($1)
endsnippet

snippet cl "console.log"
console.log($1)
endsnippet

snippet cd "console.debug"
console.debug($1)
endsnippet

snippet ce "console.error"
console.error($1)
endsnippet

snippet b4 "beforeEach" b
beforeEach(function () {
    $1
})
endsnippet

snippet mod "CommonJS module" b
module.exports = $1
endsnippet
